#trgTableauViz, #srcTableauViz {
    display:block; 
    /*width: 400px;*/
    height: 400px;
}

#srcDialog, #trgDialog {
    /*width: 400px;*/
    height:150px;
    font-size: x-small;
}
h2 {
    font-size: smaller;
}

#srcButtons, #trgButtons {
     display:none; 
    height:50px;
}
